table{
	width:100%;
}

tr{
	width:100%;
	margin: auto;
}

td{
	width: 10%;
	min-height: 10em;
	border: 1px black solid;
	text-align: center;
}

.day{
	min-height: 6em;
	vertical-align:top;
	display: flex;
	clear:none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.blank {
	background-color: grey;
}

th {
	text-align: center;
	font-size:2em;
}

.event{
	flex-grow: 0;
	line-height:1.5em;
	min-height: 1.5em;
	border: 1px solid black;
}

.date {
	flex-grow: 0;
	line-height:1.5em;
	height: 2em;
	text-align: left;
	border: 1px solid black;
}

.spacer{
	flex-shrink:100;
	flex-grow:1;
	height: 0em;
}

.calendarButton{
	background-color: skyblue;
	width:100%;
	height:30%;
	margin-top:10%;
	margin-bottom:10%;
	display:block;
	clear:both;
	border-radius: 5px;
	border: 1px solid black;
	text-align:center;
}
.calendarButton_link{
	text-decoration:none;
	color:black;
}

.calendarButton:hover{
	box-shadow: 4px 4px 0px 0px black;
	color:white;
}
